<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<title>Employee Directory</title>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
</head>
<body>
<div class="container">

    <h2>
        Update Fixture
    </h2>
     <hr>
<a href="/">Home</a>
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Gameweek</th>
        <th>Home</th>
        <th>Away </th>
        <th>Edit</th>
    </tr>
    </thead>
    </table>
<form action="#" th:action="@{/save}"
		th:object="${fixture}" method="POST">
		<p>
		<input th:field="*{id} type="hidden" ></input>
		</p>
	  <!-- <p>HI<input type="text" th:field="*{id}"/></p> -->
	 
	  <!--  <p>HOME<input type="text" th:field="*{home}" placeholder="Home"
		class="form-control mb-4 col-4"/></p> -->		
<!--
	<input type="text" th:field="*{away}" placeholder="Away"
		class="form-control mb-4 col-4">
		
	<input type="text" th:field="*{gameweek}" placeholder="Gameweek"
		class="form-control mb-4 col-4">		-->
		
	<button type="submit" class="btn btn-info col-2">Save</button> 
	
</form>  
</div>

</body>
</html>